.container{
    background: grey;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.drawing-canvas canvas{
    background: white;
    width: auto;
    height: auto;
    display: flex;
}

.canvas-buttons button{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

}