.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.drawing-canvas{
    padding-top: 10px;
    height: 63vh;
    width: 100%;
    min-height: 675px;
}

.canvas-buttons button {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}