.upload-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 10px;
}

.upload-label {
    cursor: pointer;
}

.upload-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    cursor: pointer;
}

.upload-button-icon:hover {
    transform: scale(1.05);
}