#root {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    background-color: black;
    width: 100vw;

}

.popup-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    gap: 10px;
    justify-content: center;
}

/*****************************************************************************/
/* SECTION 1: TOOLBAR SECTION*/
.tool-bar-container {
    width: fit-content;
    height: 70vh;
    min-height: 750px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}

.tool-bar {
    display: flex;
    flex-direction: row;
}

/*****************************************************************************/

.middle-section-container {
    background-color: white;
    height: 70vh;
    border-radius: 20px;
    min-height: 750px;
    width: 1000px;
}

.bottom-section-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: black;
    padding: 10px;

    justify-content: space-between;
}

.prompt-box-container {
    border: 1.5px solid #E5E5E5;
    border-radius: 20px;
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 5px;
}

/* PROMPT TEXT */
.prompt-box-text {
    resize: none;
    width: 91%;
    border: none;
    line-height: 35px;
    background-color: white;
}

.prompt-box-text:focus {
    color: back;
    border: none;
    outline: none;
}

/* IMPORT BUTTON */
.import-button-container {
    cursor: pointer;
}

.import-button {
    height: 25px;
    padding: 7px 9px;
}

/* SAVE BUTTON */
.save-button-container {
    border: 1.5px solid #E5E5E5;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.save-button {
    width: 25px;
    height: 25px;
}

/*****************************************************************************/
/* SECTION 3: RIGHT SIDE */
.assets-tab {
    width: 20vw;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-height: 750px;
}

.search-bar-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.search-bar {
    width: 80%;
    height: 100%;
    background-color: #DCDCDC;
    margin: 10px;
    text-align: left;
    line-height: 37px;
    padding-left: 10px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
}

/*****************************************************************************/
.exit-canvas-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}