.tools-bar {
    display: flex;
    flex-direction: column;
    max-width: 70px;
    justify-content: space-around;
}

.tool-btn {
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;

    cursor: pointer;
}

.tool-btn:active {
    border-radius: 20px;
    background-color: #cacaca;
    border: none;
}



.tool-expand {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    overflow: hidden;
    background-color: #cacaca;
}

/***************************************/
.hidden-tools-container {
    background-color: #D9D9D9;
    border-radius: 20px;
    position: relative;
}

.hidden-tools {
    background-color: white;
    max-height: 70px;
    flex-direction: row;
    display: flex;
    z-index: 1;
    display: flex;
    overflow: hidden;
    margin: 0px;
}