.tools-bar{
    display: flex;
    flex-direction: column;
    

    gap: 5px;
}

.tools-bar:active{
    display: flex;
    flex-direction: column;
    color: blueviolet;
    

    justify-content: space-between;
    padding: 25px 15px;
}

.tool-btn {
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.tool-btn img{
    padding: 10px;
}

