.fit-width {
  display: flex;
  flex-direction: column;

  width: vw;
}

/** 1 **/
.profile-icon-container {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px 20px;
}

/** 2 **/
.body {
  height: 70vh;
}

.body-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10%;

  text-align: center;

  gap: 10px;
}

.program-name {
  font-weight: 600;
  font-size: 2.5vw;
}

.new-canvas-button-main {
  background-color: #1A3B42;
  color: white;
  padding: 10px 20px;

  border-radius: 20px;

  font-size: 20px;
}

.new-canvas-button-main:hover {
  cursor: pointer;
}

.new-canvas-button-main:active {
  transform: translateY(1.5px);
}

/** 3 **/
.three-container {
  height: 25vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 100%;

  gap: 20px;

}

.prompt-box-text {
  width: 60vw;
  height: 90%;

  border: none;
  outline: none;

  resize: none;
  padding: 10px;

  background: none;
}

.prompt-box-text:focus {
  border: none;
  outline: none;
}

.prompt-box-button-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.prompt-box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid #E5E5E5;
  border-radius: 20px;

  padding: 10px;
}

.prompt-box-button-container-left {
  display: flex;
  align-items: left;
  flex-direction: column;
}

/* one more div and im about to crash out*/
.prompt-box-button-container-contents {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.plus-button {
  background-color: #1A3B42;
  color: white;
  border-radius: 50px;
  text-align: center;

  width: 30px;
  height: 30px;
  line-height: 23px;

  font-size: 31px;

  position: relative;

  cursor: pointer;
}

.plus-button:hover {
  cursor: pointer;
}

.new-canvas-button {
  background-color: #1A3B42;
  color: white;
  width: 140px;
  text-align: center;
  line-height: 27px;

  border-radius: 20px;
}

.new-canvas-button:hover {
  cursor: pointer;
}

.new-canvas-button:active {
  transform: translateY(1.5px);
}

.prompt-box-button-container-right {
  margin-left: auto;
  right: 0;
}

.enter-prompt-button:hover {
  cursor: pointer;
}

.up-arrow-icon {
  width: 30px;
  height: 30px;
  color: #1A3B42;
}

/** 4 **/
.warning-and-FAQ-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  padding-bottom: 5px;

  font-size: 12px;
}

.warning {
  margin-top: 10px;
  font-size: 1vw;
}

.FAQ-container {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 10px 20px;
}