#popover-pencil{
    position: absolute; top: 11.2%; left: 11%;
    background-color: white;
    border-color: #DCDCDC;
    border-left-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    margin: 0%;

}
#popover-laso{
    position: absolute; top: 28.1%; left: 11%;
    background-color: transparent;
    flex-direction: row;
    background-color: white;
    margin: 0%;
    border-color: #DCDCDC;
    border-left-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
#popover-square{
    position: absolute; top: 37%; left: 11%;
    background-color: white;
    flex-direction: row;
    margin: 0%;
    border-color: #DCDCDC;
    border-left-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#popover-colour-select{
    position: absolute; top: 30%; left: 11%;
    background-color: white;
    flex-direction: row;
    margin: 0%;
    border-color: #DCDCDC;
    border-left-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}